div.plan {
    padding: 5px;
    color: darkseagreen;
    font-style: italic;
}

h1 {
    font-family: cursive;
    background-color: slategrey;
}

#simple-search-help-text {
    padding: 5px;
    color: red;
    font-weight: bold;
}

div.resultbox {
    border: 1px solid black;
    padding: 5px;
}

div.resultbox:hover {
    cursor: pointer;
    border: 4px solid red;
    padding: 5px;
    font-weight: bold;
}

span.symbols {
    font-family: monospace;
}