div.plan {
    padding: 5px;
    color: darkseagreen;
    font-style: italic;
}

h1 {
    background-color: slategrey;
}

#simple-search-help-text {
    padding: 5px;
    color: red;
    font-weight: bold;
}