body {
    width: 90%;
    margin: auto;
}

div.plan {
    padding: 5px;
    color: darkseagreen;
    font-style: italic;
}

h1 {
    background-color: slategrey;
    text-align: center;
    font-family: cursive;
}

#simple-search-help-text {
    padding: 5px;
    color: red;
    font-weight: bold;
}

span.symbol {
    border: 1px solid red;
    padding: 2px;
    font-family: monospace;
}

span.quoted {
    font-style: italic;
}

/************************************************************************************************/

div#searchresults {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: stretch;
    border: 1px dashed black;
}

div.arrow {
    align-self: center;
    border: 1px dashed black;
    width: 5%;
    text-align: center;
    font-size: 400%;
    font-family: cursive;
    color: grey;
}

div.arrow:hover {
    cursor: pointer;
    font-weight: bold;
}

div.resultbox {
    margin: auto 5px auto 5px;
    border: 1px solid black;
    padding: 5px;
    width: 27%;
}

div.resultbox:hover {
    cursor: pointer;
    border: 2px solid black;
    font-weight: bold;
}

div.recipename {
    height: 40px;
}

div.preparationtime {
    display: box;
    padding: 10px 0px 0px 0px;
}

div.imagebox {
    display: flex;
    max-height: 200px;
    overflow: hidden;
}

img.icon {
    display: block;
    margin: 5px;
    width: 100%;
    height: 100%;
}

/************************************************************************************************/